// Подключение сетки
@import 'grid/init';


*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-size: 22px;

  background-color: #aaa;

  @include bp(md) {
    background-color: #ddd;
  }

  @include bp(lg) {
    background-color: #fff;
  }
}

.block {
  padding: 20px;
  background-color: #ddd;
  border: solid 2px #aaa;
  text-align: center;
  height: 100%;
}

.row {
  margin-bottom: 30px;
}