// Контейнер
@mixin container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding-left: $grid-gap-side;
  padding-right: $grid-gap-side;
}


// Ряд сетки
@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gap-side;
  margin-right: -$grid-gap-side;

  > * {
    margin-left: $grid-gap-side;
    margin-right: $grid-gap-side;
  }
}




// Фиксированная колонка
@mixin col($size) {
  flex: 0 0 auto;
  width: calc(#{percentage($size / $grid-columns)} - #{$grid-gap});
}


// Медиа выражение
@mixin media($width) {
  @media(min-width: $width) {
    @content;
  }
}


// Контрольная точка
@mixin bp($name) {
  $width: map-get($grid-breakpoints, $name);
  @include media($width) {
    @content;
  }
} 