// Максимальная ширина контейнера
$container-max-width: 1140px !default;

// Количество колонок
$grid-columns: 12 !default;

// Расстояние между элементами
$grid-gap: 30px !default;
$grid-gap-side: $grid-gap / 2;

// Контрольные точки
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;